
<div *ngIf="isLogged; else elseBlock"></div>

<ng-template #elseBlock>
  <section class="flexRowCenter">

    <form (ngSubmit)="userLogin()" name="loginForm" class="boxBg flexColCenter">

      <h3>Login</h3>

      <div class="boxElem">
        <label for="email">Email: </label>
        <input type="email" name="email" class="textInput" [(ngModel)]="email" />
      </div>

      <div class="boxElem">
        <label for="password">Password: </label>
        <input type="password" name="password" class="textInput" [(ngModel)]="password" />
      </div>

      <div *ngIf="errorMsg" class="errorMsg">
        <label for="loginForm">
          <strong>{{ errorMsg }}</strong>
        </label>
      </div>

      <button type="submit" class="btn">Login</button>

    </form>

  </section>
</ng-template>
