
.register {
  display: flex;
  justify-content: center;
}

form {
  width: 70%;
  margin: 40px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px grey;
}

form label, button {
  margin: 10px;
}

.registerBtn {
  background-color:  #282c34;
}
