
<section *ngIf="task" class="taskBox">

  <div class="taskBg flexColCenter">

    <h3>{{ task.task }} - details</h3>

    <div class="resizeBox"><span class="labels">Created at: </span>{{ task.createdAt }}</div>

    <label class="resizeBox"><span class="labels">Task:</span>
      <input type="text" class="textInput"
        [(ngModel)]="task.task" placeholder="task description" />
    </label>

    <label class="resizeBox"><span class="labels">Done ?</span>
      <input type="checkbox" class="checkbox" 
        [(ngModel)]="task.isDone" />
    </label>

    <form (ngSubmit)="updateElement()">
      <button type="submit" class="btn updateBtn">Update</button>
    </form>

  </div>

</section>