
.taskBox {
  display: flex;
  justify-content: center;
}

.taskBg {
  width: 70%;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px grey;
}

.taskElem {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.labels {
  margin-right: 20px;
}

.updateBtn {
  background-color:#daa520;
  text-shadow: 0 0 3px #000;
}
