
<section *ngIf="task">

  <h3>{{ task.task }} - details</h3>

  <div class="taskBg">

    <div class="resizeBox"><span class="labels">Created at: </span>{{task.createdAt}}</div>

    <label class="resizeBox"><span class="labels">Task:</span>
      <input type="text" placeholder="task description"
        [(ngModel)]="task.task" />
    </label>

    <label class="resizeBox"><span class="labels">Is Done ?</span>
      <input type="checkbox" class="checkbox" 
        [(ngModel)]="task.isDone" />
    </label>

    <div class="detailsBtns">

      <form (ngSubmit)="updateElement()">
        <button type="submit" class="updateBtn">Update</button>
      </form>

      <form (ngSubmit)="deleteElement(task.timeStamp)">
        <button type="submit" class="deleteBtn">Delete</button>
      </form>

    </div>

  </div>

</section>