
<section *ngIf="task" class="taskBox">

  <div class="taskBg flexColCenter">

    <h3>{{ task.task }} - details</h3>

    <div class="taskElem">
      <label for="createdAt" class="labels">Created at: </label>
      <span name="createdAt">{{ task.createdAt }}</span>
    </div>

    <div class="taskElem">
      <label for="task" class="labels">Task: </label>
      <input type="text" name="task" class="textInput"
        [(ngModel)]="task.task" placeholder="task description" />
    </div>

    <div class="taskElem">
      <label for="isDone" class="labels">Done ?</label>
      <input type="checkbox" name="isDone" class="checkbox" 
        [(ngModel)]="task.isDone" />
    </div>

    <form (ngSubmit)="updateElement()">
      <button type="submit" class="btn updateBtn">Update Task</button>
    </form>

  </div>

</section>