
.taskBox {
  display: flex;
  justify-content: center;
}

.taskBg {
  width: 70%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px grey;
}

.resizeBox {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.labels {
  margin-right: 20px;
}

.detailsBtns {
  display: flex;
  justify-content: space-evenly;
}

.updateBtn {
  background-color:#daa520;
  text-shadow: 0 0 3px #000;
}
