
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todolist {
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 2px 5px grey;
}

#todolist th {
  padding: 10px;
  background-color: #4caf50;
}

#todolist td {
  padding: 8px;
  cursor: pointer;
}

#todolist tr {
  background-color: #fff;
}

#todolist tr:nth-child(even) {
  background-color: #eee;
}

#todolist tr:hover {
  background-color: #ddd;
}

.deleteBtn {
  background-color: #B22222;
}

.task {
  width: 40%;
  border-left: 2px solid rgb(179, 190, 201);
}

.task, .createdAt {
  border-right: 2px solid rgb(179, 190, 201);
}
