
<section>

  <h2>Add a new task</h2>

  <app-add-task-form></app-add-task-form>

  <h2>My tasks</h2>

  <table id="todolist">
    <tr>
      <th>X</th>
      <th class="task">Task description</th>
      <th class="createdAt">Created At</th>
      <th>Done ?</th>
    </tr>
    <tr *ngFor="let task of todolist" (click)="onSelect(task)">
      <td>
        <form (ngSubmit)="deleteElement(task.timeStamp)">
          <button type="submit" class="btn deleteBtn">
            <i class="far fa-trash-alt"></i>
          </button>
        </form>
      </td>
      <td class="task">{{ task.task }}</td>
      <td class="createdAt">{{ task.createdAt }}</td>
      <td>{{ task.isDone }}</td>
    </tr>
  </table>

</section>

<app-task [task]="selectedTask"></app-task>